<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FLS.Business.Properties.Settings.fuel_levelConnectionString"
            connectionString="server=localhost;user id=root;password=root;database=fuel_level"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>